%h3
	People
%table.table.table-striped.table-bordered.datatable
	%thead
		%tr
			%th Avatar
			%th Name
			%th Karma
			%th Action
	%tbody
		%tr
			%td Avatar
			%td User 1
			%td 100
			%td 
				%a{"href"=>"#"}
					Edit