%h3
  Appreciations
%table.table.table-striped.table-bordered.datatable
  %thead
    %tr
      %th Photo
      %th Name
      %th Karma
      %th Description
      %th Edit
  %tbody
    %tr
      %td Photo
      %td Cookie
      %td 2
      %td Cookie is awesome
      %td 
        %a{"href"=>"#"}
          Edit