%header.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
      %a.brand{"href"=>"#{root_path}"}
        %img{"src"=>"/assets/Logo-20px-transparent.png","alt"=>"Feedback"}
